<h1><%= @project.name %></h1>
<ul>
  <% @entries.each do |entry| %>
    <li>
      <%= entry.hours %> h <%= entry.minutes %> m - <%= entry.date %>
    </li>
  <% end %>
</ul>
<p>Total amount of hours worked this month: <strong><%= @total_hours %> h</strong></p>

<%= link_to("Add new entry", new_project_entry_path(@project)) %>
<%= link_to("Go back to projects", project_path(@project)) %>