<h2>Creating a new person</h2>

<%= flash_message %>

<% if(@person.errors.any?) %>
  <ul>
    <% @person.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@person] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.submit "Save" %>
<% end %>