<h2><%= @person.name %> details</h2>

<% if(@projects.any?) %>
  <ul>
    <% @projects.each do |project| %>
      <li><%= project.name %></li>
    <% end %>
  </ul>
<% end %>

<%= flash_message %>

<% if(@person.errors.any?) %>
  <ul>
    <% @person.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@person], url: person_path do |f| %>
  <%= f.label :project %>
  <%= f.collection_select(:projects, @no_associated_projects, :id, :name) %>
  <br>
  <%= f.submit "Save" %>
<% end %>